a{
    color: #419EFF;
    text-decoration: none;
}
body{
    color: #666;
    padding: 0;
    margin: 0;
}
.header{
    background-color: #2F4050;
    color: #fff;
}
.header-logo {
    display: block;
    height: 100%;
    float: left;
    line-height: 60px;
    color: #fff;
    font-family: '华文楷体';
    font-size: large;
}
.header-menu{
    display: block;
    height: 100%;
    float: right;
    margin-right: 100px;
    line-height: 60px;
}
.page-aside{
    background-color: #545c64;
    color: #fff;
}
.page-main{
    background-color: whitesmoke;
}
.left-menu{
    border-right: 0;
}
.el-menu-vertical-demo{
    width: 60px;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
    padding: 0;
    width: 250px;
}
.el-submenu .el-menu-item {
    padding: 0;
}
.logo{
    width: 64px;
    text-align: center;
    margin-left: -20px;
}
.el-scrollbar__wrap {
    overflow-x: hidden;
}
.el-tabs__header {
    margin: 0;
}
.page{
    background-color: whitesmoke;
    padding: 5px 10px 30px 10px;
}
.tab-pane{
    padding: 20px;
}
.pagination{
    margin-top: 10px;
    text-align: right;
}
.head_button{
    margin: 20px 30px;
}
.head_button_right{
    text-align: right;
    margin: 20px 30px;
}
.el-select{
    width: 100%;
}
.el-scrollbar{
    padding-bottom: 20px;
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-bottom-color: whitesmoke;
}
.page-card{
    background-color: #ffffff;
    min-height: 500px;
}
.card-li{
    list-style: none;
    cursor:pointer;
    padding: 10px 20px;
    font-size: 14px;
}
.card-li.li-select{
    color: cadetblue;
    background-color: #E6E6E6;
}
.card-li:hover{
    background-color: whitesmoke;
}
.card-li>i{
    margin-right: 5px;
}
.card{
    min-height: 100px;
}
.card-button{
    float: right;
    padding: 3px 0;
    height: 30px;
    width: 80px;
    margin-top: -5px;
}