<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Demo</title>
</head>
<script src="../asert/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="../component/element-ui/vue.js"></script>
<!-- import JavaScript -->
<script src="../component/element-ui/index.js"></script>
<link rel="stylesheet" href="../component/element-ui/css/index.css">
<style>
    body{
        margin: 0;
        padding: 0;
    }
    .login-box{
        border-radius: 10px;
        padding-top: 40px;
        padding-right: 30px;
        padding-bottom: 1px;
        background-color : rgba(255,255,255,0.5);
        box-shadow: 0px 0px 20px 0px #ffffff;
    }
    .el-form-item__label{
        color: #FFFFFF;
    }
</style>
<body>
    <div id="login" style="background-image: url('../asert/image/login-bg.jpg')">
        <el-row type="flex" align="middle" justify="center" :style="{'min-height':pageHeight+'px'}">
            <el-col :span="6">
                <div class="login-box">
                    <el-form ref="form" v-model="login_form" label-width="80px" style="color: black">
                        <el-form-item label="用户名">
                            <el-input v-model="login_form.username"></el-input>
                        </el-form-item>
                        <el-form-item label="密码">
                            <el-input v-model="login_form.password" type="password"></el-input>
                        </el-form-item>
                        <el-form-item style="text-align: right">
                            <el-button type="primary" @click="onSubmit">登录</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </el-col>
        </el-row>
    </div>
</body>
<script>
    new Vue({
        el: '#login',
        data:function (){
            return {
                pageHeight:0,
                login_form:{
                    username:"admin",
                    password:"123"
                }
            }
        },
        mounted:function () {
            var me =this;
            me.initPageHeight();
            window.onresize = function () {
                me.initPageHeight();
            };
        },
        methods: {
            onSubmit:function(){
                var loginInfo = this.login_form;
                var me = this;

                $.ajax({
                    url: "login",
                    type: 'POST',
                    data:JSON.stringify(loginInfo),
                    dataType:"json",
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        window.location.href = "/index";
                    },
                    error:function (jqXHR, textStatus, errorThrown) {
                        me.$message.error(jqXHR.responseText);
                    }
                });

                event.preventDefault();
            },
            initPageHeight:function(){
                this.pageHeight = $(window).height();
            }
        }
    });
</script>
</html>