<style>
    #Role_Permission .card-li{
        margin-left: -10px;
    }

    #Role_Permission .header-span{
        font-size: 15px;
    }
</style>
<div id="Role_Permission" class="page">
    <div>
        <el-row :gutter="20">
            <el-col :span="8">
                <el-card class="box-card card" shadow="hover">
                    <div slot="header" class="clearfix">
                        <span class="header-span">角色</span>
                    </div>
                    <ul>
                        <li class="card-li"
                            :class="{'li-select':(role.id == selectRole)}"
                            @click="handleRoleClick(role.id)"
                            v-for="role in roles" :key="role.id">
                            <i v-if="role.id == selectRole" class="fa fa-cog fa-spin"></i>
                            <i v-else="role.id == selectRole" class="fa fa-user-o fa-1x"></i>
                            {{role.name}}
                        </li>
                    </ul>
                </el-card>
            </el-col>
            <el-col :span="8">
                <el-card class="box-card card" shadow="hover">
                    <div slot="header" class="clearfix">
                        <span class="header-span">菜单</span>
                        <el-button class="card-button" size="small" type="success" @click="handleSaveRoleMenu">保存</el-button>
                    </div>
                    <el-tree v-if="menuData" ref="menuTree" :data="menuData"
                             :props="defaultTreeProps"
                             node-key="value"
                             @node-click="handleMenuClick"
                             @check-change="handleMenuCheck"
                             show-checkbox></el-tree>
                </el-card>
            </el-col>
            <el-col :span="8">
                <el-card class="box-card card" shadow="hover">
                    <div slot="header" class="clearfix">
                        <span class="header-span">权限</span>
                        <el-button class="card-button" size="small" type="success" @click="handleSaveRolePermission">保存</el-button>
                    </div>
                    <div>
                        <!--<el-checkbox :indeterminate="isIndeterminate" v-model="checkAllPermission" @change="handleCheckAllPermissionsChange">全选</el-checkbox>-->
                        <div style="margin: 15px;">
                            <el-checkbox-group v-model="checkedPermission">
                                <el-row :gutter="20" v-for="permission in permissionData" :key="permission.id">
                                    <el-col :span="24" style="height: 25px">
                                        <el-checkbox  :label="permission.id" >{{permission.name}}</el-checkbox>
                                    </el-col>
                                </el-row>
                            </el-checkbox-group>
                        </div>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
</div>
<script>
    new Vue({
        el:"#Role_Permission",
        data:function () {
            return {
                roles:[],
                selectRole:'',
                menuData:[],
                roleMenu:[],
                defaultTreeProps: {
                    children: 'children',
                    label: 'label'
                },
                checkAllPermission: false,
                checkedPermission: [],
                permissionData: [],
                isIndeterminate: true
            }
        },
        mounted:function () {
            this.init();
        },
        methods: {
            init:function () {
                this.loadRoleData();
                this.loadMenuData();
            },
            loadRoleData:function () {
                var me = this;
                $.ajax({
                    url: "role/all",
                    type: 'POST',
                    success: function (result) {
                        if(result.data){
                            me.roles = result.data;
                            if(me.roles[0]){
                                me.selectRole=me.roles[0].id;
                                me.handleRoleClick(me.selectRole);
                            }
                        }
                    }
                });
            },
            loadMenuData:function () {
                var me = this;
                $.ajax({
                    url: "menu/tree",
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        if(result.data){
                            me.menuData = result.data;
                        }
                    }
                });
            },
            loadPermissionInMenu:function (menuId) {
                var me = this;
                me.permissionData = [];
                $.ajax({
                    url: "per/getMenuPermission/"+menuId,
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        if(result.data){
                            me.permissionData = result.data;
                        }
                    }
                });
            },
            handleRoleClick:function (id) {
                this.selectRole = id;
                var me = this;
                $.ajax({
                    url: "role/getMenuAndPermission/"+id,
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        if(result.data){
                            if(result.data.menus){
                                me.$refs.menuTree.setCheckedKeys(result.data.menus);
                            }
                            if(result.data.permissions){
                                me.checkedPermission = result.data.permissions;
                            }
                        }
                    }
                });
            },
            handleMenuClick:function(node) {
                if(node && node.value){
                    this.loadPermissionInMenu(node.value);
                }
            },
            handleMenuCheck:function (node,isChecked) {
                this.$refs.menuTree.setCurrentNode(node);
            },
            handleSaveRoleMenu:function () {
                var me =this;
                var roleMenu = this.$refs.menuTree.getCheckedKeys();

                if(!me.selectRole){
                    me.$message.warning("未选择角色");
                    return;
                }

                var param = {
                    "roleId":me.selectRole,
                    "menus":roleMenu
                };
                $.ajax({
                    url: "role/saveRoleMenu",
                    type: 'POST',
                    data:JSON.stringify(param),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        me.$message.success("保存成功");
                        me.handleRoleClick(me.selectRole);
                    }
                });
            },
            handleSaveRolePermission:function () {
                var me =this;
                var permissions = this.checkedPermission;

                if(!me.selectRole){
                    me.$message.warning("未选择角色");
                    return;
                }

                var param = {
                    "roleId":me.selectRole,
                    "permissions":permissions
                };
                $.ajax({
                    url: "per/saveRolePermission",
                    type: 'POST',
                    data:JSON.stringify(param),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        me.$message.success("保存成功");
                        me.handleRoleClick(me.selectRole);
                    }
                });
            }
        }
    });
</script>