<div id="User_Manager" class="page" style="background-color: #FFFFFF">
    <!--<el-tabs v-model="activeName">
        <el-tab-pane class="tab-pane" label="用户列表" name="list"></el-tab-pane>
    </el-tabs>-->
    <div>
        <el-row :gutter="20" type="flex" justify="end">
            <el-col :span="6" class="head_button_right">
                <el-button size="small" type="primary" @click="handleAddUser">新增用户 <i class="el-icon-edit"></i></el-button>
            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="22" :offset="1">
                <el-table :data="userTableData.data" ref="userTable" stripe style="width: 100%">
                    <el-table-column type="index" width="50"></el-table-column>
                    <el-table-column prop="nickName" empty-text="-" label="昵称" min-width="20%" show-overflow-tooltip></el-table-column>
                    <el-table-column prop="userName" empty-text="-" label="账户" min-width="20%" show-overflow-tooltip></el-table-column>
                    <el-table-column prop="userType" empty-text="-" label="类型" min-width="20%" :formatter="userTypeFormat" show-overflow-tooltip></el-table-column>
                    <el-table-column prop="activate" empty-text="-" label="状态" min-width="20%" :formatter="userStatusFormat" show-overflow-tooltip></el-table-column>
                    <el-table-column fixed="right" label="操作" min-width="10%">
                        <template slot-scope="scope">
                            <el-button type="text" size="small">重置密码</el-button>
                            <el-button type="text" size="small" @click="handleEditUser(scope.row.id)">编辑</el-button>
                            <el-button type="text" size="small" @click="handleDeletedUser(scope.row.id)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination
                            @current-change="handleCurrentChange"
                            :current-page="userTableData.page.currentPage"
                            :page-size="userTableData.page.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="userTableData.page.total">
                    </el-pagination>
                </div>
            </el-col>
        </el-row>
    </div>
    <el-dialog :title="userDialogTitle" :visible.sync="userDialogVisible" :close-on-click-modal="false">
        <el-form :model="userInfo" ref="UserForm" :rules="userRules" size="small">
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="昵称" prop="nickName" :label-width="lableWidth">
                        <el-input v-model="userInfo.nickName"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="类型" prop="userType" :label-width="lableWidth">
                        <el-select v-model="userInfo.userType" placeholder="请选择用户类型" popper-class="popper">
                            <el-option
                                    v-for="item in userTypes"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="账户" prop="userName" :label-width="lableWidth">
                        <el-input v-model="userInfo.userName"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="状态" prop="activate" :label-width="lableWidth">
                        <el-radio-group v-model="userInfo.activate">
                            <el-radio :label="true">激活</el-radio>
                            <el-radio :label="false">禁用</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="userDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="handleSaveUser">保 存</el-button>
        </div>
    </el-dialog>

</div>
<script>
    new Vue({
        el: '#User_Manager',
        data:function (){
            var me = this;
            var checkUserName = function(rule, value, callback) {
                if (value) {
                    var param = {
                        id:me.userInfo.id,
                        name:value
                    };
                    $.ajax({
                        url: "user/usernameCheck",
                        type: 'POST',
                        sync:true,
                        data:JSON.stringify(param),
                        success: function (result) {
                            if(result.data){
                                callback();
                            }else {
                                callback(new Error('此账户已被注册'));
                            }
                        }
                    });
                } else {
                    callback();
                }
            };

            return {
                userDialogVisible:false,
                userTableData:{
                    data:[],
                    page:{
                        currentPage:1,
                        pageSize:10,
                        total:50
                    }
                },
                userInfo:{
                    id:'',
                    nickName:'',
                    userName:'',
                    userType:'Normal',
                    activate:true
                },
                userDialogTitle:'新增用户',
                userRules:{
                    nickName: [
                        { required: true, message: '请输入用户昵称', trigger: 'blur' },
                        { max: 20, message: '长度不能超过20个字符', trigger: 'blur' }
                    ],
                    userName: [
                        { required: true, message: '请输入账户名', trigger: 'blur' },
                        { max: 20, message: '长度不能超过20个字符', trigger: 'blur' },
                        { validator: checkUserName, trigger: 'blur' }
                    ]
                },
                lableWidth:"80px",
                userTypes:[{
                    value: 'Admin',
                    label: '管理员'
                },{
                    value: 'Normal',
                    label: '普通'
                },{
                    value: 'Visitor',
                    label: '访客'
                }]
            }
        },
        mounted:function () {
            this.loadUserData();
        },
        methods: {
            loadUserData:function () {
                var me = this;
                var param = {};
                param.page = {
                    currentPage:me.userTableData.page.currentPage,
                    pageSize:me.userTableData.page.pageSize
                };
                $.ajax({
                    url: "user/table",
                    type: 'POST',
                    data:JSON.stringify(param),
                    dataType:"json",
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        if(result.data){
                            me.userTableData.data = result.data.content;
                            me.userTableData.page.currentPage = result.data.page.currentPage;
                            me.userTableData.page.total = result.data.page.total;
                        }
                    }
                });
            },
            userTypeFormat:function(row,column, cellValue){
                switch (cellValue){
                    case 'Admin':
                        return "管理员";
                    case 'Normal':
                        return "普通";
                    case 'Visitor':
                        return "访客";
                }
                return "-";
            },
            userStatusFormat:function (row,column, cellValue) {
                if(cellValue){
                    return "激活";
                }else {
                    return "禁用";
                }
            },
            handleCurrentChange: function(val) {
                this.userTableData.page.currentPage = val;
                this.loadUserData();
            },
            handleAddUser:function () {
                var me = this;
                me.clearUserForm();
                me.userDialogTitle = "新增用户";
                me.userDialogVisible = true;
                me.$nextTick(function () {
                    me.$refs.UserForm.clearValidate();
                });
            },
            handleEditUser:function (id) {
                var me =this;
                $.ajax({
                    url: "user/info/"+id,
                    type: 'GET',
                    dataType:"json",
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        var userInfo = result.data;
                        if(userInfo){
                            me.fillUserForm(userInfo);
                            me.userDialogTitle = "编辑用户";
                            me.userDialogVisible = true;
                            me.$nextTick(function () {
                                me.$refs.UserForm.clearValidate();
                            });
                        }
                    }
                });
            },
            handleDeletedUser:function (id) {
                var me =this;
                this.$confirm('是否删除此用户?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function (){
                    $.ajax({
                        url: "user/deleted/"+id,
                        type: 'GET',
                        dataType:"json",
                        contentType: 'application/json;charset=UTF-8',
                        success: function (result) {
                            me.$message.success("删除成功");
                            me.loadUserData();
                        }
                    });
                });
            },
            handleSaveUser:function () {
                var me = this;
                var param = this.userInfo;
                $.ajax({
                    url: "user/save",
                    type: 'POST',
                    data:JSON.stringify(param),
                    dataType:"json",
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        me.$message.success("保存成功");
                        me.clearUserForm();
                        me.userDialogVisible = false;
                        me.loadUserData();
                    }
                });
            },
            fillUserForm:function (userInfo) {
                var me = this;
                me.userInfo.id = userInfo.id;
                me.userInfo.nickName = userInfo.nickName;
                me.userInfo.userName = userInfo.userName;
                me.userInfo.userType = userInfo.userType;
                me.userInfo.activate = userInfo.activate;
            },
            clearUserForm:function () {
                this.userInfo = {
                    id:'',
                    nickName:'',
                    userName:'',
                    userType:'Normal',
                    activate:true
                };
            }
        }
    });
</script>